{% extends'index.html' %}
{% block title %}
    <title>MusicMax • {{ album.name }}</title>
{% endblock %}
{% block back %}
    <a href="{{ url_for('index') }}" class="back_page"><i class="fa-solid fa-chevron-left"
                                                          style="opacity: 1;font-size: 40px;"></i></a>
{% endblock %}
{% block header_info %}
    <div class="header_nav">
        <div class="singer_img">
            <img src="{{ album.photo }}" alt="">
        </div>
        <p>{{ album.name }}</p>
    </div>
    <a href="{{ url_for('user') }}">
        <div class="user_now">
            <p>{{ user_now.username }}</p>
            <img src="{{ user_now.photo }}" alt="">
        </div>
    </a>
    <div class="header_info" style="margin-top: 0;padding: 0;gap: 0">
        <div class="album_banner">
            <div class="album_banner_img">
                <img src="{{ album.photo }}" alt="">
            </div>
            <div class="album_banner_info">
                <text>Album</text>
                <p>{{ album.name }}</p>
                <div class="album_info-row" style="gap: 5px">
                    {% for value in album.user %}
                        <img src="{{ value.photo }}" alt="">
                        <text>{{ value.name }}</text>
                    {% endfor %}
                    <text>•</text>
                    <text>{{ album.date }}</text>
                    <text>•</text>
                    <text>{{ length_songs }} tracks</text>
                </div>
            </div>
            <div class="like_heart">
                {% if album in user_now.album_like %}
                    <a href="{{ url_for('dislike_album', album_id=album.id) }}">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                {% else %}
                    <a href="{{ url_for('love_album', album_id=album.id) }}">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="album_page">
            <div class="album_tracks">
                <div class="album_tracks_title">
                    <div class="album_title_row">
                        <div class="li_info" style="color: var(--secondary)">
                            <div class="music_number">
                                #
                            </div>
                            <p style="font-size: 40px">Name</p>
                        </div>
                        <i class="fa-regular fa-clock"
                           style="opacity: 1;color: var(--secondary); font-size: 25px;margin-right: 13px;"></i>
                    </div>
                </div>
                <ol>
                    {% for song in album.songs %}
                        <li>
                            <div class="song_id_for_play" style="display: none;">{{ song.id }}</div>
                            <div class="li_info">
                                <div class="music_number">
                                    <p style="font-size: 40px">1</p>
                                    <i class="fa-solid fa-play" style="font-size: 20px"></i>
                                    <div class="box_loading_big">
                                        <div class="box_loading"></div>
                                    </div>
                                </div>
                                <img src="{{ song.photo }}" alt="">
                                <p style="margin-left: 25px;">{{ song.name }}</p>
                            </div>
                            <div class="li_other">
                                <div class="heart">
                                    {% if song in user_now.song_like %}
                                        <a href="{{ url_for('dislike_song', song_id=song.id) }}"><i
                                                class="fa-solid fa-heart" style="margin-right: 70px;"></i></a>
                                    {% else %}
                                        <a href="{{ url_for('love_song', song_id=song.id) }}"><i
                                                class="fa-regular fa-heart" style="margin-right: 70px;"></i></a>
                                    {% endif %}
                                </div>
                                <text>{{ song.duration }}</text>
                            </div>
                            <div class="add_song_in_list_btn" style="position:absolute;right: 20px;padding: 1px;">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                <div class="absolute_add_song_box">
                                    <div class="add_song_div" style="width: 100%;">
                                        {% if user_now.playlist %}
                                            {% for check_list in user_now.playlist %}
                                                {% if song in check_list.songs %}
                                                {% else %}
                                                    <a href="{{ url_for('add_playlist_song', p_id=check_list.id, s_id=song.id) }}"><i
                                                            class="fa-solid fa-plus"
                                                            style="border: none;font-size: 25px;margin: 0;"></i>
                                                        <p>{{ check_list.name }}</p></a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <p style="margin-top: 100px;padding: 0 30px 0 0;width: 100%; font-size: 48px; margin-bottom: 15px;display: flex; justify-content: space-between">
                Albums <span class="next_prev"><i class="fa-solid fa-chevron-left"
                                                  style="opacity: 1;font-size: 40px;margin-right: 15px;"></i><i
                    class="fa-solid fa-chevron-right" style="opacity: 1;font-size: 40px"></i></span></p>
            <div class="singer_album">
                {% for user in album.user %}
                    {% for album in user.album %}
                        <a href="{{ url_for('album', album_id=album.id) }}">
                            <div class="album_box">
                                <div class="album_img">
                                    <img src="{{ album.photo }}" alt="">
                                </div>
                                <div class="album_name">
                                    <p>{{ album.name }}</p>
                                    <text>{{ album.date }} • Album</text>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% endfor %}
            </div>
            {% for singer in all_user %}
                {% for user_list in album.user %}
                    {% if singer.category == user_list.category %}
                        <p style="color: var(--color_primary);margin-top: 50px;padding-right: 25px;width: 100%; font-size: 48px; margin-bottom: 15px;display: flex; justify-content: space-between">
                            Singers<span class="next_prev"><i class="fa-solid fa-chevron-left"
                                                              style="opacity: 1;font-size: 40px;margin-right: 15px;"></i><i
                                class="fa-solid fa-chevron-right" style="opacity: 1;font-size: 40px"></i></span></p>
                        <div class="singer_album">
                            <a href="{{ url_for('singer', singer_id=singer.id) }}">
                                <div class="playlist_box">
                                    <div class="playlist_img">
                                        <img src="{{ singer.photo }}" alt="{{ singer.username }}"
                                             style="border-radius: 50%">
                                    </div>
                                    <div class="playlist_name">
                                        {{ singer.name }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

