{% extends 'index.html' %}
{% block title %}
    <title>MusicMax • {{ playlist.name }}</title>
{% endblock %}
{% block back %}
    <a href="{{ url_for('index') }}" class="back_page"><i class="fa-solid fa-chevron-left"
                                                          style="opacity: 1;font-size: 40px;"></i></a>
{% endblock %}
{% block header_info %}
    <div class="header_nav">
        <div class="singer_img">
            <img src="{{ playlist.photo }}" alt="">
        </div>
        <p style="font-size: 100px">{{ playlist.name }}</p>
    </div>
    <a href="{{ url_for('user') }}">
        <div class="user_now">
            <p>{{ user_now.username }}</p>
            <img src="{{ user_now.photo }}" alt="">
        </div>
    </a>
    <div class="header_info" style="margin-top: 0;padding: 0;display: block">
        <div class="playlist_banner" style="background-image: url('{{ playlist.photo }}');">
            <div class="playlist_banner_info" style="width: 100%;">
                <text style="font-size: 40px; color: var(--color_primary)">Playlist</text>
                <p>{{ playlist.name }}</p>
                <div class="bio_playlist" style="color: #BFB6B6">
                    {{ playlist.bio }}
                </div>
                <div class="album_info-row">
                    <div class="info_user_in_playlist">
                        {% for user in playlist.user %}
                            <a href="{{ url_for('singer', singer_id=user.id) }}"
                               style="display: flex; align-items: center; gap: 15px;">
                                <img src="{{ user.photo }}" alt="">
                                <text>{{ user.name }}</text>
                            </a>
                        {% endfor %}
                        <text>•</text>
                        <text>{{ playlist.date }}</text>
                        <text>•</text>
                        <text>{{ length_songs }} tracks</text>
                    </div>
                    <div class="like_and_add">
                        <div class="like_heart">
                            {% if playlist in user_now.playlist_like %}
                                <a href="{{ url_for('dislike_playlist', playlist_id=playlist.id) }}">
                                    <i class="fa-solid fa-heart"></i>
                                </a>
                            {% else %}
                                <a href="{{ url_for('love_playlist', playlist_id=playlist.id) }}">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            {% endif %}
                        </div>
                        <i class="add_tarck_for_playlist_btn fa-solid fa-plus" style="width: 102px;
                            height: 97px;font-size: 60px;color: var(--color_primary);border-radius: 50%;border: 7px solid var(--color_primary);"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="playlist_info" style="background: #fff;">
            <div class="playlist_info_row">
                <div class="li_info" style="color: var(--secondary)">
                    <div class="music_number">
                        #
                    </div>
                    <p style="font-size: 40px">Name</p>
                </div>
                <p style="font-size: 40px; margin-left: 200px;">Album</p>
                <p style="font-size: 40px">Like</p>
                <i class="fa-regular fa-clock" style="opacity: 1;color: var(--secondary); font-size: 25px"></i>
            </div>
            <ol>
                {% for song in playlist.songs %}
                    <li>
                        <div class="song_id_for_play" style="display: none;">{{ song.id }}</div>
                        <div class="li_info">
                            <div class="music_number" style="color: black">
                                <p style="font-size: 40px">1</p>
                                <i class="fa-solid fa-play" style="font-size: 20px"></i>
                                <div class="box_loading_big">
                                    <div class="box_loading"></div>
                                </div>
                            </div>
                            <img src="{{ song.photo }}" alt="">
                            <div class="playlist_li_info_name">
                                <p style="margin-left: 25px;color: var(--black)">{{ song.name }}</p>
                                {% for user in song.user %}
                                    <p style="font-size: 16px;margin-left: 25px;color: #646464">{{ user.name }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="li_other">
                            {% for album in song.album %}
                                <text style="width: 380px;text-align: center; color: #646464;">{{ album.name }}</text>
                            {% endfor %}

                            <text style="width: 300px;text-align: center;color: #646464;">{{ song.like }}</text>
                            <div class="heart">
                                {% if song in user_now.song_like %}
                                    <a href="{{ url_for('dislike_song', song_id=song.id) }}"><i
                                            class="fa-solid fa-heart" style="margin-right: 70px;"></i></a>
                                {% else %}
                                    <a href="{{ url_for('love_song', song_id=song.id) }}"><i class="fa-regular fa-heart"
                                                                                             style="margin-right: 70px;"></i></a>
                                {% endif %}
                            </div>
                            <text style="color: #646464">{{ song.duration }}</text>
                        </div>
                        <div class="add_song_in_list_btn" style="position:absolute;right: 20px;padding: 1px;">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                            <div class="absolute_add_song_box">
                                {% if playlist in user_now.playlist %}
                                    <div class="for_playlist_div" style="width: 100%;color: white;font-size: 30px">
                                        <a href="{{ url_for('delete_playlist_song', p_id=playlist.id, s_id=song.id) }}"
                                           class="hover_for_delete_song_in_playlist">Delete</a>
                                    </div>
                                {% endif %}
                                <a href="{{ url_for('download', filename=song.url) }}" class="hover_for_delete_song_in_playlist" style="font-size: 30px;">Download</a>
                                <div class="add_song_div" style="width: 100%;">
                                    {% if user_now.playlist %}
                                        {% for check_list in user_now.playlist %}
                                            {% if song in check_list.songs %}
                                            {% else %}
                                                <a href="{{ url_for('add_playlist_song', p_id=check_list.id, s_id=song.id) }}"><i
                                                        class="fa-solid fa-plus"
                                                        style="border: none;font-size: 25px;margin: 0;"></i>
                                                    <p>{{ check_list.name }}</p></a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ol>
        </div>
        {% for user in playlist.user %}
            {% if user.album %}
                <p style="margin-top: 100px;padding: 0 40px;width: 100%; font-size: 48px; margin-bottom: 15px;display: flex; justify-content: space-between">
                    Albums <span class="next_prev"><i class="fa-solid fa-chevron-left"
                                                      style="opacity: 1;font-size: 40px;margin-right: 15px;"></i><i
                        class="fa-solid fa-chevron-right" style="opacity: 1;font-size: 40px"></i></span></p>
                <div class="singer_album" style="padding: 0 40px;">
                    {% for album in user.album %}
                        <a href="{{ url_for('album', album_id=album.id) }}">
                            <div class="album_box">
                                <div class="album_img">
                                    <img src="{{ album.photo }}" alt="">
                                </div>
                                <div class="album_name">
                                    <p>{{ album.name }}</p>
                                    <text>{{ album.date }} • Album</text>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        {% for singer in all_user %}
            {% for user_list in playlist.user %}
                {% if singer.category == user_list.category %}
                    <p style="color: var(--color_primary);margin-top: 100px;padding: 0 40px;width: 100%; font-size: 48px; margin-bottom: 15px;display: flex; justify-content: space-between">
                        Singers<span class="next_prev"><i class="fa-solid fa-chevron-left"
                                                      style="opacity: 1;font-size: 40px;margin-right: 15px;"></i><i
                        class="fa-solid fa-chevron-right" style="opacity: 1;font-size: 40px"></i></span></p>
                    <div class="singer_album" style="padding: 0 40px;">
                        <a href="{{ url_for('singer', singer_id=singer.id) }}">
                            <div class="playlist_box">
                                <div class="playlist_img">
                                    <img src="{{ singer.photo }}" alt="{{ singer.username }}"
                                         style="border-radius: 50%">
                                </div>
                                <div class="playlist_name">
                                    {{ singer.name }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}



    </div>
    <div class="modal_window_for_add_playlist">
        <div class="id_playlist" style="display: none">{{ playlist.id }}</div>
        <div class="add_tracks">
            <i class="fa-solid fa-xmark" style="opacity: 1;"></i>
            <div class="search_input">
                <input type="search" placeholder="Search music..." id="search_input">
                <i class="fa-solid fa-magnifying-glass" title="Search" id="search_btn" style="opacity: 1;"></i>
            </div>
            <div class="search_result">

            </div>
            <div class="btn_row" style="margin-top: 20px;">
                <div class="btn_for_add_music btn win_hover">
                    Add tarck
                </div>
            </div>
        </div>
    </div>
{% endblock %}