<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style/loader.css">
    <title>MusicMax • {{ user_now.username }}</title>
    <link rel="icon" href="/static/img/web_img/logo.png">
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
<div class="loader_box">
    <div class="socket">
        <div class="gel center-gel">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c1 r1">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c2 r1">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c3 r1">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c4 r1">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c5 r1">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c6 r1">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>

        <div class="gel c7 r2">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>

        <div class="gel c8 r2">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c9 r2">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c10 r2">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c11 r2">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c12 r2">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c13 r2">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c14 r2">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c15 r2">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c16 r2">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c17 r2">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c18 r2">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c19 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c20 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c21 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c22 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c23 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c24 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c25 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c26 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c28 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c29 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c30 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c31 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c32 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c33 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c34 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c35 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c36 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
        <div class="gel c37 r3">
            <div class="hex-brick h1"></div>
            <div class="hex-brick h2"></div>
            <div class="hex-brick h3"></div>
        </div>
    </div>
</div>
{# Loader codes #}

<section class="user_section">
    <div class="brand_and_user">
        <a href="{{ url_for('index') }}">
            <div class="logo">
                <img src="/static/img/web_img/logo.png" alt="" style="user-select: none;">
                <p>usicMAX</p>
            </div>
        </a>
        <div class="user_now" style="position:relative;color: #000;top: 0;right: 0;">
            <p>{{ user_now.username }}</p>
            <img src="{{ user_now.photo }}" alt="">
        </div>
    </div>
    <div class="function_box">
        <div class="function_link">
            <p class="function_link_p">Edit</p>
            <p>Add</p>
            <p>All</p>
        </div>
        <div class="functions">
            <div class="edit_func func">
                <form action="{{ url_for('user_edit', user_id=user_now.id) }}" method="post"
                      enctype="multipart/form-data">
                    <div class="input_file" style="padding-top: 0;background: transparent;position: relative;">
                        <input type="file" style="position: absolute;top: 0;left: 0;opacity: 0" name="photo"
                               id="general_photo">
                        <input type="text" placeholder="Edit img" id="general_photo_name">
                    </div>
                    <input type="text" placeholder="Name" name="name" style="margin: 30px 0;"
                           value="{{ user_now.name }}">
                    <input type="text" placeholder="Username" name="username" value="{{ user_now.username }}">
                    <input type="password" placeholder="Password" name="password"
                           style="margin-top: 30px;margin-bottom: 45px;" value="{{ user_now.password }}">
                    <div class="btn_row">
                        <a href="{{ url_for('log_out') }}" class="btn" style="color: black;border-color: black">Log
                            out</a>
                        <a href="{{ url_for('delete_user') }}" class="btn"
                           style="color: red;border-color: red">Delete</a>
                        <button class="btn" style="color: green;border-color: green">Edit</button>
                    </div>
                </form>
            </div>
            <form action="{{ url_for('user_add') }}" style="position: relative;" method="post"
                  enctype="multipart/form-data">
                <div class="photo_input_absolute">
                    <input type="file" id="photo" name="photo" style="opacity: 0">
                </div>
                <div class="add_func func">
                    <div class="album_or_playlist">
                        {% if user_now.artist %}
                            <artist style="display: none"></artist>
                            <p>Album</p>
                            <div class="absolute_btn_add_song">
                                Track
                            </div>
                        {% endif %}
                        <p>Playlist</p>
                    </div>
                </div>
            </form>
            <div class="all_func func">
                {% if user_now.album %}
                    <div class="all_title">
                        Album
                    </div>
                    <div class="all_box">
                        {% for album in user_now.album %}
                            <a href="{{ url_for('album', album_id=album.id) }}">
                                <div class="album_box" style="margin-bottom: 15px;">
                                    <div class="album_img">
                                        <img src="{{ album.photo }}" alt="">
                                    </div>
                                    <div class="album_name" style="align-items: center">
                                        <p>{{ album.name }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if user_now.playlist %}
                    <div class="all_title">
                        Playlist
                    </div>
                    <div class="all_box">
                        {% for playlist in user_now.playlist %}
                            <a href="{{ url_for('playlist', play_list_id=playlist.id) }}">
                                <div class="playlist_box" style="margin-bottom: 15px;">
                                    <div class="playlist_img">
                                        <img src="{{ playlist.photo }}" alt="">
                                    </div>
                                    <div class="playlist_name" style="font-size: 45px">
                                        {{ playlist.name }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if user_now.songs %}
                    <div class="all_title">
                        Songs
                    </div>
                    <div class="all_box" style="justify-content: center;">
                        {% for song in user_now.songs %}
                            <div class="search_music_box" style="margin-bottom: 15px;">
                                <div class="track_info">
                                    <img src="{{ song.photo }}" alt="">
                                    <div class="track_name">
                                        <p>{{ song.name }}</p>
                                        <text>{{ user_now.name }}</text>
                                    </div>
                                </div>
                                <div class="box_rating_and_delete">
                                    <p>#{{ song.rating }}</p>
                                    <a href="{{ url_for('delete_track', track_id=song.id) }}"><i
                                            class="fa-solid fa-trash-can"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<div class="edit_img_window">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="edit_img_box">
            <i class="fa-solid fa-xmark"></i>
            {#            <img src="/static/img/user_img/accaunt_img.png" alt="">#}
            <input type="file">
            <a href="" class="btn win_hover">Cancel</a>
            <button class="btn win_hover">Save</button>
        </div>
    </form>
</div>
<div class="add_track_window">
    <form action="{{ url_for('add_track') }}" method="post" enctype="multipart/form-data">
        <p style="font-size: 50px; font-weight: 900">Add track</p>
        <div class="input_add_track">
            <input type="file" accept=".mp3" name="audio" style="width: 500px;opacity: 0;position: absolute;"
                   id="add_track">
            <input type="text" class="add_track_input" placeholder="Add track" style="width: 500px;padding-left: 15px;">
        </div>
        <div class="input_add_track">
            <input type="file" name="photo" style="width: 500px;opacity: 0;position: absolute;" id="add_track_photo">
            <input type="text" class="add_track_input_photo" placeholder="Add track photo"
                   style="width: 500px;padding-left: 15px;">
        </div>
        <input type="text" name="name" style="width: 500px;padding-left: 15px;" placeholder="Add track name">
        <input type="text" name="duration" id="f_du" style="display: none">
        <div class="column_row_user_add_track"
             style="display: flex;align-items: center;justify-content: center;gap: 30px">
            <select name="genre" id=""
                    style="width: 200px;height: 60px;outline: none; border: 2px solid var(--color_primary);font-size: 40px;font-family: var(--font_girassol);padding-left: 15px;">
                {% for genre in genre_all %}
                    <option value="{{ genre.id }}">{{ genre.name }}</option>
                {% endfor %}
            </select>
            <button class="btn win_hover">Add</button>
        </div>
    </form>
    <audio id='audio'></audio>
</div>
<section id="player">
    <audio src=""></audio>
    <div class="player_author">
        <img src="/static/img/web_img/gl.jpg" alt="" class="player_img">
        <div class="player_name">
            <text>MusicMAX</text>
            <p style="display: flex">by <b style="color: var(--color_primary); margin-left: 4px;">Ramzidin</b></p>
        </div>
    </div>
    <div class="player_control">
        <div class="controllers">
            <i class="fa-solid fa-shuffle" style="font-size: 27px; margin-right: 20px;"></i>
            <i class="fa-solid fa-backward-step"></i>
            <i class="fa-regular fa-circle-play" style="font-size: 40px"></i>
            <i class="fa-solid fa-forward-step"></i>
            <i class="fa-solid fa-repeat" style="font-size: 27px;margin-left:20px;"></i>
        </div>
        <div class="player_range">
            <div class="time_row">
                <div class="start_time">
                    0:00
                </div>
                <div class="end_time">
                    0:00
                </div>
            </div>
            <div class="input_range">
                <input type="range" max="780" min="0">
                <div class="range"></div>
            </div>
        </div>
    </div>
    <div class="player_other">
        <div class="heart_player"><i class="fa-regular fa-heart"></i></div>
        <i class="fa-solid fa-volume-high"></i>
        <div class="volume_range">
            <input type="range" max="120" min="0">
            <div class="rangeV"></div>
        </div>
    </div>
</section>
<script src="https://kit.fontawesome.com/d17442df75.js" crossorigin="anonymous"></script>
<script src="/static/js/script.js"></script>
</body>
</html>